
body {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    height: 100%;
    background-color: #FFC067;
}

header {
    background-color: #7ca5ce;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.breed-selector {
    font-size: 1em;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 25px;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-grow: 1; /* Allow breed-selector to take up the available space above */
    background-color: #7ca5ce;
}

.wrapper {
    font-size: 1.5em;
    width: 100%;
    max-width: 1800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background-color: #333333;
}



label{
    margin: 15px;
    width: 50%;
    padding: 0px 15px;
}

select, input {
    width: 200px;
    height: 30px;
    font-size: 1rem;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: white;
    
}

.fetch-button {
    background-color: #f40000;
    border-radius: 50px;
    margin: 15px;
    width: 300px;
    height: 75px;
    font-weight: bold;
    align-self: center;
    text-align: center;
    margin-top: 20px;
    top: 40px; /*  This is to move the button down */
    border: 1px solid black;
}

img {
    width: 300px;
    height: 300px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2), 0 8px 24px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    object-fit: cover; /* Ensure images maintain their aspect ratio without distortion */
}

img:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2), 0 8px 24px rgba(0, 0, 0, 0.2);
}